In [1]:
import pandas as pd
import json

In [2]:
df = pd.read_json('informacoes.json')

In [3]:
df.head()

   nome  idade                                          enderecos
0  João     28  {'tipo': 'casa', 'rua': 'Rua A', 'numero': 123...
1  João     28  {'tipo': 'trabalho', 'rua': 'Rua B', 'numero':...

In [4]:
with open('informacoes.json') as f: 
    json_bruto = json.load(f)

In [5]:
df = pd.json_normalize(json_bruto, record_path='enderecos', meta=['nome', 'idade'])
df

       tipo    rua  numero          cidade  nome idade
0      casa  Rua A     123       São Paulo  João    28
1  trabalho  Rua B     456  Rio de Janeiro  João    28